@model KPCOS.Data.Models.Design

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Design</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultantBy" class="control-label"></label>
                <input asp-for="ConsultantBy" class="form-control" />
                <span asp-validation-for="ConsultantBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depth" class="control-label"></label>
                <input asp-for="Depth" class="form-control" />
                <span asp-validation-for="Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignType" class="control-label"></label>
                <input asp-for="DesignType" class="form-control" />
                <span asp-validation-for="DesignType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiltrationSystem" class="control-label"></label>
                <input asp-for="FiltrationSystem" class="form-control" />
                <span asp-validation-for="FiltrationSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiCountRange" class="control-label"></label>
                <input asp-for="KoiCountRange" class="form-control" />
                <span asp-validation-for="KoiCountRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiType" class="control-label"></label>
                <input asp-for="KoiType" class="form-control" />
                <span asp-validation-for="KoiType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinLength" class="control-label"></label>
                <input asp-for="MinLength" class="form-control" />
                <span asp-validation-for="MinLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinWidth" class="control-label"></label>
                <input asp-for="MinWidth" class="form-control" />
                <span asp-validation-for="MinWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shape" class="control-label"></label>
                <input asp-for="Shape" class="form-control" />
                <span asp-validation-for="Shape" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemplateId" class="control-label"></label>
                <select asp-for="TemplateId" class="form-control" asp-items="ViewBag.TemplateId"></select>
                <span asp-validation-for="TemplateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterLevel" class="control-label"></label>
                <input asp-for="WaterLevel" class="form-control" />
                <span asp-validation-for="WaterLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterQuality" class="control-label"></label>
                <input asp-for="WaterQuality" class="form-control" />
                <span asp-validation-for="WaterQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
